<script>
  import { mapGetters } from 'vuex'
  import Counter from 'components/Counter'
  import Loader from 'components/Loader'
  import Card from 'components/Card'
  import List from 'components/List'
  import Navbar from 'components/Navbar'
  import Coupon from 'components/Coupon'
  import $ from 'jquery'
  import _ from 'lodash'

  import store from '../store'

  export default {
    data() {
      return {
        isLoading: true,
        data: []
      }
    },
    computed: {
      ...mapGetters([
        'filtered',        
      ]),
      matches: function () {
        return this.data = this.filtered
      }
    },
    methods: {
      scrollDown () {
        $("html, body").animate({
          scrollTop: $("#matches").offset().top - 182
        }, 500);
      },
      getRank (data, event) {
        this.$store.dispatch('filters', data);
        $(event.target).parent().parent().children().each(function (index, value) { 
          $(value).removeClass('selected');
        });
        $(event.target).parent().addClass('selected');
      },
    },
    components: {
      Navbar,
      Loader,
      Coupon,
      Card,
      List
    },
    created() {
      // this.$store.dispatch('fetchMatches', 'matches').then(() => {
      this.$store.dispatch('authUser').then(() => {
        this.isLoading = false
      });
      // });   
    },
    mounted() {
      this.$forceUpdate();
    }
  }
</script>

<template>
  <div>
    <navbar v-if="!isLoading" />
    <loader v-show="isLoading" />

    <b-navbar v-show="!isLoading" toggleable="md" sticky style="top: 66px;" id="filters">
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item href="#" class="selected" @click="getRank('', $event)">Tüm Maçlar</b-nav-item>
          <b-nav-item href="#" @click="getRank('leaders', $event)">Liderler</b-nav-item>
          <b-nav-item href="#" @click="getRank('favorites', $event)">Favoriler</b-nav-item>
          <b-nav-item href="#" @click="getRank('headToHead', $event)">Kafa Kafaya</b-nav-item>
        </b-navbar-nav>
        <!-- Right aligned nav items -->
      </b-collapse>
    </b-navbar>
    
    <b-container v-show="!isLoading" style="margin-top:50px;" id="matches">
      <b-row>
        <b-col md="8">
          <b-card no-body v-for="(value, key, index) in matches" :key="index">  
            <list :data="value" :date="key" :columns="['home', 'draw', 'away', 'under', 'over']"/> 
          </b-card>  
        </b-col>
        <b-col md="4">
          <coupon/>  
        </b-col>
      </b-row>
    </b-container>

  </div>
</template>

<style lang="scss" scoped>
  #filters {
    box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.08) !important;
    background-color: rgba(252,252,252,.98) !important;
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    font-size: 11px;
    z-index: 9;
    line-height: 66px;
    text-transform: uppercase;
    padding: 0px 0px;
    .navbar-collapse {
      .navbar-nav {
        margin:0 auto;
        li.nav-item {
          margin: 0px 15px !important;
          a {
            padding: 0px 0px;
          }
        }
        li.selected a.nav-link {
          height: 64px;
          box-shadow: 0px 2px #4080FF !important;
          color: #4B4F56 !important;
        }
        li:hover a.nav-link {
          height: 64px;
          box-shadow: 0px 2px #4080FF !important;
          color: #4B4F56 !important;
        }
      }
    }
    li {
        margin: 2px 15px;
    }
  }
  .loaded {
    opacity: 1 !important;
    transform: translateY(0px) scale(1) !important;
    transition: transform .6s cubic-bezier(0.190,1.000,0.220,1.000),opacity .6s ease;
  }
  .card {
    border: none !important;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    margin-bottom: 40px !important;
  }
</style>




