<script>
  import { mapGetters } from 'vuex'
  import $ from 'jquery'
  import Navbar from 'components/Navbar'
  export default {
    data() {
      return {
        isLoading: true,
        data: {}
      }
    },
    components: {
      Navbar,
    },
    computed: {
       ...mapGetters([
        'matches',
        'leaders',
        'headToHead',
        'favorites',
        'userCoupons'
      ])
    },
    created() {
      // console.log("here")
      this.$store.dispatch('userCoupons').then(() => {
        this.data = this.userCoupons 
      })
    }
  }
</script>

<template>
  <div>
    <navbar/>
    <b-container fluid style="padding:0px 0px;">
      <b-tabs pills card vertical>
        <b-tab title="Profile" active>
          <b-card>
            Profile
          </b-card>
        </b-tab>
        <b-tab title="Coupons">
          <b-row> 
            <b-col md="3" v-for="(item, index) in this.data" :key="index">
              <b-card>
                <p v-for="match in JSON.parse(item.matches)">{{match.homeTeam}} vs {{match.awayTeam}}</p>
                <!-- <b-btn variant="primary" href="#">Kaydet</b-btn> -->
              </b-card>
            </b-col>
          </b-row>
        </b-tab>
      </b-tabs>
    </b-container>
  </div>
</template>

<style scoped lang="scss">
  h1 {
    font-size:14px;
  }
  .card {
    border: none !important;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    margin-bottom: 40px !important;
    font-size: 11px;
  }
</style>


