<script>
    import { mapGetters } from 'vuex'

    export default {
        computed: {
            ...mapGetters([
                'authenticated'
            ])
        },
        data () {
            return {
                form: {
                    email: '',
                    username: '',
                    password: '',
                    password_confirmation: ''
                },
                show: true,
                dismissSecs: 5,
                dismissCountDown: 0,
                message: '',
            }
        },
        methods: {
            countDownChanged (dismissCountDown) {
                this.dismissCountDown = dismissCountDown
            },
            showAlert () {
                this.dismissCountDown = this.dismissSecs
            },
            onSubmit (evt) {
                evt.preventDefault();
                if(this.form.password == this.form.password_confirmation){
                    this.$store.dispatch('signUp', {data: this.form}).then((res) => {
                        this.$router.push('/login'); 
                    }).catch(err => {
                        this.message = err.error.message
                        this.showAlert()
                    });
                }else {
                    this.message = "Your password and confirmation password do not match."
                    this.showAlert()
                }
            },
            onReset (evt) {
                evt.preventDefault();
                this.form.email = '';
                this.form.username = '';
                this.form.password = '';
                this.form.password_confirmation = '';
                this.show = false;
                this.$nextTick(() => { this.show = true });
            }
        }
    }
</script>

<template>
    <b-container fluid class="wrapper">
        <b-row align-v="center" align-h="center" style="height: 100vh">
            <b-col md="4" sm="10">
            <b-card no-body style="box-shadow: 0 4px 12px rgba(0,0,0,.25);">
                <b-card-body>
                <h4 class="text-center">Sign up</h4>
                <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                    <b-form-group id="exampleInputGroup1" description="We'll never share your email with anyone else.">
                        <b-form-input id="exampleInput1" type="email" v-model="form.email" required placeholder="Email address"></b-form-input>
                    </b-form-group>
                    <b-form-group id="exampleInputGroup2">
                        <b-form-input id="exampleInput2" type="text" v-model="form.username" required placeholder="Username"></b-form-input>
                    </b-form-group>
                    <b-form-group id="exampleInputGroup3">
                        <b-form-input id="exampleInput3" type="password" v-model="form.password" required placeholder="Password"></b-form-input>
                    </b-form-group>
                    <b-form-group id="exampleInputGroup4">
                        <b-form-input id="exampleInput4" type="password" v-model="form.password_confirmation" required placeholder="Password again"></b-form-input>
                    </b-form-group>
                    <!-- <b-form-group id="exampleGroup4">
                        <b-form-checkbox v-model="form.checked" id="exampleInput4">Check me out</b-form-checkbox>
                    </b-form-group> -->
                    <b-alert :show="dismissCountDown"
                        dismissible
                        @dismissed="dismissCountdown=0"
                        @dismiss-count-down="countDownChanged">
                        {{this.message}}
                    </b-alert>
                    <b-button type="submit" variant="primary">Sign up</b-button>
                </b-form>
                </b-card-body>
                <b-card-footer class="text-center">Already have an account?
                    <!-- <b-link href="#foo">Login</b-link> -->
                    <router-link :to="'login'">Login</router-link>
                </b-card-footer>
            </b-card>
            </b-col>
        </b-row>
     </b-container>
</template>

<style scoped>
    button[type="submit"] {
        width: 100% !important;
    }
    h4 {
        font-weight: 200 !important;
        margin: 40px 0 40px 0 !important;
    } 
</style>
