<script>
    import { mapGetters } from 'vuex'
    import Navbar from 'components/Navbar'

    export default {
        computed: {
            ...mapGetters([
                'authenticated',
                'user'
            ])
        },
        data () {
          return {      
          }
        },
        methods: {
          logout () {
              localStorage.removeItem("token");
              localStorage.removeItem("refreshToken");
              this.$store.dispatch('logOut');
              this.$router.push('/login');
            }
        },
        components: {
          Navbar
        },
    }
</script>

<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<style lang="scss">
  @import '../styles/custom-bootstrap.scss';
  @import 'node_modules/bootstrap/scss/bootstrap.scss';
</style>
