<script>
  export default {
    props: {
      title: '',
      items: {
        type: Array
      }
    }
  }
</script>

<template>
  <b-card no-body>
    <h6 slot="header" v-if="this.title">
      <!-- <img src="https://discordapp.com/assets/add06b8a240bfefe6afc647bab293546.svg" alt=""> -->
      {{title}}</h6>
    <b-card-body>
      <p v-for="item in items" :key="item.id">
        {{ item.homeTeam }} vs {{ item.awayTeam }} <span class="float-right">{{ item.startDate }}</span>
      </p>
      <!-- <b-link href="#foo" class="text-center d-block">Kuponu Gör</b-link> -->
    </b-card-body>
  </b-card>
</template>

<style scoped lang="scss">
  .card {
    background: #18191c;
    .card-header {
      // border-radius: 0px !important;
      // border-bottom:0px !important;
      h6 {
        color: #fff;
        font-weight: 300 !important;
        line-height: 32px;
        margin-bottom: 0px;
        font-size: 24px;
      }
      background: #202226;
    }
    // height: 480px;
    // border-radius: 0px !important;
    border: none !important;
    box-shadow: 0 20px 20px rgba(0,0,0,.08);
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    .card-header {
      color:#1D2129 !important;
      // background-color: white;
    }
    a {
        font-size: 11px !important;
        margin-top: 24px;
    }
    p {
      font-size: 14px;
      color:#c7ccd1;
      line-height: 28px;
      padding-bottom: 0px !important;
      margin-bottom: 0px !important;
      border-bottom: 1px solid #212327;
    }
  }
</style>


