<script>
  import Vue from 'vue'
  import { mapGetters } from 'vuex'
  import System from 'components/System'
  export default {
    data: function () {
      return {
        money: 3.00,
        gain: '',
        systemGain: '',
        ratio: '',
        ratios: [],
        dismissSecs: 100,
        dismissCountDown: 0
      }
    },
    components: {
      System
    },
    filters: {
      ceil: function (value) {
        return Math.round(value * 100) / 100
      },
      round: function (value) {
        return value
      }
    },
    computed: {
      ...mapGetters([
        'coupon',
        'systemSelected',
        'systemButtons',
        'systemRatio',
        'totalRatio'
      ]),
      totalGain: function () {
         this.gain = this.totalRatio * this.money
         return this.gain
      },
      totalSystemGain: function () {
        this.systemGain = this.systemRatio * this.money
        return this.systemGain
      }
    },
    watch: {
      money() {
        this.$store.commit('UPDATE_MONEY', this.money);
      },
      gain() {
        this.$store.commit('UPDATE_GAIN', this.gain);
      },
      coupon: function () {
        this.$store.dispatch('systemButtons');
      },
      totalRatio: function () {
        return this.totalRatio
      },
      systemRatio: function () {
        return this.systemRatio
      }
    },
    methods: {
      deleteItem: function (item){
        Vue.set(item, 'selected', '')
        Vue.set(item, 'game', '')
        this.$store.dispatch('removeMatch', item);
      },
      deleteAll: function (){
        this.$store.dispatch('deleteAll');
      },
      saveCoupon: function (){
        this.$store.dispatch('saveCoupon').then(() => {
          this.$store.dispatch('deleteAll');
          this.showAlert()
          this.deleteAll()
        });
      },
      showAlert () {
        this.dismissCountDown = this.dismissSecs
      },
      countDownChanged (dismissCountDown) {
        this.dismissCountDown = dismissCountDown
      }
    }
  }
</script>

<template>
  <div>
     <b-alert :show="dismissCountDown"
             dismissible
             variant="primary"
             @dismissed="dismissCountdown=0"
             @dismiss-count-down="countDownChanged">
            <p>Kuponunuz başarıyla kaydedildi! {{dismissCountDown}}</p> 
    </b-alert>
    <b-alert v-if="!this.coupon.length" show variant="primary">Kuponunuzda maç bulunmuyor, oranlara tıklayarak kuponunuza maç ekleyebilirsiniz.</b-alert>
    <b-card v-else no-body>
      <table class="table">
        <thead>
          <tr>
            <th width="85%">Kolon Sayısı: <strong style="color:#4080FF;">1</strong></th>
            <th width="15%" class="text-right">Oran</th>
          </tr>
        </thead> 
        <tbody>
          <tr v-for="item in this.coupon" :key="item.id" @click="deleteItem(item)">
            <td><strong style="color:#4080FF; margin-right:5px;">{{item.mbc}}</strong>{{item.homeTeam}} vs {{item.awayTeam}}</td>
            <td class="text-right"><strong style="color:#4080FF;">{{item.selected}}</strong></td>
          </tr>
          <tr>
            <td colspan="2">
              <span style="width:50%; display:inline-block; float:left;" v-if="!totalSystemGain"> 
                Tahmini Kazanç: <strong style="color:#4080FF;" >{{ totalGain | ceil }}₺</strong>
              </span>

              <span style="width:50%; display:inline-block; float:left;" v-else> 
                Tahmini Kazanç: <strong style="color:#4080FF;" >{{ systemGain | ceil }}₺</strong>
              </span>

              <span style="width:50%; display:inline-block; float:left;" class="text-right" v-if="systemRatio"> 
                Toplam Oran: <strong style="color:#4080FF;" >{{ systemRatio.toFixed(2) }}</strong>
              </span>

              <span style="width:50%; display:inline-block; float:left;" class="text-right" v-else> 
                Toplam Oran: <strong style="color:#4080FF;">{{ totalRatio.toFixed(2) }}</strong>
              </span>
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <b-input-group v-if="this.coupon.length" left="Misli:" :right="`Kupon Bedeli: ${money}`"> 
                <b-form-input v-model="money" type="number"></b-form-input>
              </b-input-group>          
            </td>
          </tr>

          <tr>
            <td colspan="2" v-if="this.systemButtons.length">
              <b-button-group>
                <b-button variant="outline-primary">Sistem:</b-button>
                <system :item="item" v-for="item in this.systemButtons" :key="item"/>  
              </b-button-group>
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <b-button-group>
                <b-button variant="outline-primary">Paylaş</b-button>
                <b-button variant="outline-primary" @click="saveCoupon()">Kaydet</b-button>
              </b-button-group>
            </td>
          </tr>

        </tbody> 
      </table>
    </b-card>

  </div>
</template>

<style scoped lang="scss">
  .alert {
    font-size: 11px;
  }
  .table {
    font-size: 11px !important; 
    td {
      cursor:pointer;
    }
    td {
      color:#90949C;
    }
  }
  .form-control {
    font-size:11px;
  }
  .card {
    border: none !important;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    margin-bottom: 40px !important;
    border-radius: 0px 0px !important; 
  }
  button {
    cursor:pointer;
    width: 100%;
    font-weight: 100 !important;
  }
  .btn-group {
    width:100%;
    .btn {
      font-size:11px !important;
    }
  }
  .input-group-addon {
    font-size:11px !important;
  }
</style>

