<script>
  import Matches from 'components/Matches'
  export default {
    props: {
      date: String,
      data: Array,
      columns: Array,
      filterKey: String,
    },
    data: function () {
      var sortOrders = {}
      this.columns.forEach(function (key) {
        sortOrders[key] = 1
      })
      return {
        sortKey: '',
        sortOrders: sortOrders,
        list: []
      }
    },
    components: {
      Matches,
    },
    created() {
      this.list = this.data
    },
    watch: {
      data() {
        this.list = this.data
      }
    },
    computed: {
      filteredData: function () {
        var sortKey = this.sortKey
        var filterKey = this.filterKey && this.filterKey.toLowerCase()
        var order = this.sortOrders[sortKey] || 1
        var data = this.list
        if (filterKey) {
          data = data.filter(function (row) {
            return Object.keys(row).some(function (key) {
              return String(row[key]).toLowerCase().indexOf(filterKey) > -1
            })
          })
        }
        if (sortKey) {
          data = data.slice().sort(function (a, b) {
            a = a[sortKey]
            b = b[sortKey]
            return (a === b ? 0 : a > b ? 1 : -1) * order
          })
        }
        return data
      }
    },
    filters: {
      capitalize: function (str) {
        return str.charAt(0).toUpperCase() + str.slice(1)
      }
    },
    methods: {
      sortBy: function (key) {
        this.sortKey = key
        this.sortOrders[key] = this.sortOrders[key] * -1
      }
    }
  }
</script>

<template>
  <table class="table">
    <thead>
      <tr>
        <th width="12%">{{this.date}}</th>
        <th width="48%"></th>
        <th width="8%" @click="sortBy('home')" class="text-center" :class="{ active: sortKey == 'home' }">1 <span class="arrow" :class="sortOrders['home'] > 0 ? 'asc' : 'dsc'"></span></th>
        <th width="8%" @click="sortBy('draw')" class="text-center" :class="{ active: sortKey == 'draw' }">X <span class="arrow" :class="sortOrders['draw'] > 0 ? 'asc' : 'dsc'"></span></th>
        <th width="8%" @click="sortBy('away')" class="text-center" :class="{ active: sortKey == 'away' }">2 <span class="arrow" :class="sortOrders['away'] > 0 ? 'asc' : 'dsc'"></span></th>
        <th width="8%" @click="sortBy('under')" class="text-center" :class="{ active: sortKey == 'under' }">Alt <span class="arrow" :class="sortOrders['under'] > 0 ? 'asc' : 'dsc'"></span></th>
        <th width="8%" @click="sortBy('over')" class="text-center" :class="{ active: sortKey == 'over' }">Üst <span class="arrow" :class="sortOrders['over'] > 0 ? 'asc' : 'dsc'"></span></th>
      </tr>
    </thead>
    <matches :raw="filteredData" />
  </table>
</template>

<style scoped lang="scss">
  td, tr {
    font-size: 11px; 
  }
  th {
    cursor:pointer;
  }
  td {
    color:#90949C;
  }
  th.active {
    color: #4080FF;
  }
  th.active .arrow {
    opacity: 1;
  }
  .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 0px;
    opacity: 0.66;
  }
  .arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #4080FF;
  }
  .arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #4080FF;
  }
</style>


