<script>
  import { mapGetters } from 'vuex'
  import Ratio from 'components/Ratio'
  export default {
    props: ['match'],
    components: {
      Ratio
    },
    // watch: {
    //   'match.game': function(newVal, oldVal) { // watch it
    //     console.log('Prop changed: ', newVal, ' | was: ', oldVal)
    //   },
    //   deep: true
    // }
  }
</script>

<template>
  <tr>
    <td>
      <span>{{match.code}}</span> 
      <span>{{match.startDate}}</span>
      <span>{{match.mbc}}</span> 
    </td>
    <td>{{match.homeTeam}} vs {{match.awayTeam}} <span>{{match.leagueCode}}</span></td>

    <ratio :ratio="match.home" name="home" :match="match" />
    <ratio :ratio="match.draw" name="draw" :match="match" />
    <ratio :ratio="match.away" name="away" :match="match" />
    <ratio :ratio="match.under" name="under" :match="match" />
    <ratio :ratio="match.over" name="over" :match="match" />
  </tr>
</template>

<style scoped lang="scss">
  td {
    color: #90949C;
  }
</style>

