<script>
  import Match from 'components/Match'
  export default {
    props: {
      raw: Array
    },
    components: {
      Match
    }
  }
</script>

<template>
  <tbody>
    <match v-for="(item, index) in this.raw" :key="index" :match="item" />
  </tbody>
</template>

<style scoped lang="scss">
  td, tr {
    font-size: 11px; 
  }
</style>


