<script>
import Vue from 'vue'
import VueResource from 'vue-resource'

Vue.use(VueResource)

export default {
  name: 'Movie',
  props: {
    movie: {
      type: Object,
      reaquired: true
    }
  },
  computed: {
    posterPath() {
      return `https://image.tmdb.org/t/p/w500/${this.movie.poster_path}`;
    }
  }
}
</script>


<template>
  <b-col cols="6">
    <div class="card">
      <div class="row">
        <div class="col-md-4">
          <b-img fluid :src="posterPath" alt="" />
        </div>
        <div class="col-md-8">
          <div class="card-block">
            <h1>{{movie.id}} alo</h1>
            <!-- <h4 class="card-title">{{movie.original_title}}<span>{{movie.vote_average}}</span></h4>
            <p class="meta flex">
              <span class="release_date">
                <span class="glyphicons glyphicons-calendar x1"></span>
                {{movie.release_date}}
                {{this.getGenres}}
              </span>
              <span class="genres">Romance, Crime, Thriller</span>
            </p>
            <p class="card-text">{{movie.overview}}</p>
            <a href="#" class="btn btn-primary">Read More</a> -->
          </div>
        </div>
      </div>
    </div>
  </b-col>
</template>

<style> 
  .card-block {
    padding: 10px 10px 16px 0px;
  }
  .card-title {
    margin-top: 10px;
  }
  .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 64px;      /* fallback */
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    color: #4d4d4d;
    font-size: 0.9em;
  }
  .card-title span {
    float: right;
  }
  p.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  p.meta {
    padding-top: 0;
    font-size: 0.9em;
  }
  .genres {
    float: right;
  }

</style>
