<script>
    import { mapGetters } from 'vuex'
    export default {
        computed: {
            ...mapGetters([
                'authenticated',
                'user'
            ])
        },
        data () {
          return {      
          }
        },
        methods: {
          logout () {
              localStorage.removeItem("token");
              localStorage.removeItem("refreshToken");
              this.$store.dispatch('logOut');
              this.$router.push('/login');
            }
        },
    }
</script>

<template>
    <b-navbar toggleable="md" sticky v-show="authenticated">
        <b-nav-toggle target="nav_collapse"></b-nav-toggle>
        <b-navbar-brand href="#" style="font-weight: 900; color: #4080FF">
             <!-- <span>B</span> -->
             <router-link to="/" class="b">BETWOLVES</router-link>
        </b-navbar-brand>

        <b-collapse is-nav id="nav_collapse">
            <!-- Right aligned nav items -->
            <b-navbar-nav  class="ml-auto">
                <b-nav-item-dropdown right>
                    <!-- Using button-content slot -->
                    <template slot="button-content">
                        {{user.username}}
                    </template>
                    <!-- <b-dropdown-item href="#">Profile</b-dropdown-item> -->
                    <router-link to="profile" class="dropdown-item">Profile</router-link>
                    <b-dropdown-item href="#" @click="logout">Signout</b-dropdown-item>
                </b-nav-item-dropdown>
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>
</template>

<style lang="scss" scoped>
    .navbar {
        background:#fff;
        .nav-item {
            color:#90949C !important;
            font-size:11px;
            text-transform: uppercase !important;
        }
        span {
            text-align: center;
            font-weight: 500;
            color: #fff;
            width: 30px;
            height: 30px;
            background: #728df5;
            margin-right: 12px !important;
            display: block;
            float: left;
            border-radius: 2px;
        }
        background-color: rgba(255,255,255,.98);
        box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.08);
    } 
    .dropdown-item:focus {
        outline: none !important;
    }
</style>

