<script>
  import Vue from 'vue'
  import { mapGetters } from 'vuex'
  export default {
		props: {
      ratio: String,
      match: {},
      name: String,
		},
		data: function (){
			return {
        isActive: false
      }
    },
    computed: {
      ...mapGetters([
        'coupon',
        'systemSelected'
      ]),
    },
    created: function () {
      if(this.name == this.match.game){
        this.isActive = true 
      }else {
        this.isActive = false 
      }
    },
    watch: {
      'match.game': function () {
        if(this.name == this.match.game){
          this.isActive = true 
        }else {
          this.isActive = false 
        }
      }
    },
		methods: {
			addRatio: function () {
        let item = this.coupon.find(x => x.code === this.match["code"])
        if(item == undefined){
          Vue.set(this.match, 'selected', this.ratio)
          Vue.set(this.match, 'game', this.name)
          this.$store.dispatch('addMatch', this.match);
          this.systemSelected.length > 0 && this.$store.dispatch('systemTrigger');    
          this.isActive = !this.isActive;
        } else {
          if(this.isActive){
            Vue.set(this.match, 'selected', '')
            Vue.set(this.match, 'game', '')
            this.$store.dispatch('removeMatch', this.match);
            this.systemSelected.length > 0 && this.$store.dispatch('systemTrigger');       
            this.isActive = !this.isActive;
          }else{
            alert("Aynı kupona birden fazla bahis yapamazsınız.")
            return false
          }
        }
    	}		
		}
	}
</script>

<template>
	<td class="ratio" :class="{ active: isActive }" @click="addRatio">{{this.ratio}}</td>
</template>

<style scoped lang="scss">
	.ratio {
		cursor:pointer;
		text-align: center !important;
		-webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  }
  .active {
    background-color: #4080FF;
    color: white;
  }
	.ratio:hover {
		background-color: #4080FF;
    color: white;
	}
</style>


