<script>
  import { mapGetters } from 'vuex'
  export default {
    props: {
      item: '',
    },
    data() {
      return {
        isActive: false,
      }
    },
    computed: {
      ...mapGetters([
        'coupon',
      ]),
    },
    methods: {
      systemSet: function() {
        this.isActive = !this.isActive;
        this.$store.dispatch('systemSet', this.item);    
      }
    }
  }
</script>


<template>
  <b-button @click="systemSet" variant="outline-primary" :class="{ active: isActive }">{{this.item}}</b-button>
</template>

<style scoped lang="scss">
  .btn {
    font-size:11px;
    box-shadow:none !important;
  }
</style>

